.App {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sketch {
  position: relative;
  width: 625px;
  height: 625px;
  overflow: hidden;
  margin: 0px 20px;
}

.wrapper {
  display: flex;
}

.container {
  display: flex;
  flex-direction: column;
}

.controls {
  display: flex;
  justify-content: center;
  margin-top: 8px;
}

.button {
  display: flex;
  font-size: 20px;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 0;
  background: transparent;
  margin: 0 8px;
  transition: background 250ms ease;
  cursor: pointer;
}

.button:hover {
  background: rgba(0, 0, 0, 0.15);
}

.button:active {
  background: rgba(0, 0, 0, 0.20);
}

.canvas > canvas {
  width: 100% !important;
  height: 100% !important;
}

.preview > canvas {
  width: 100% !important;
  height: 100% !important;
}